.App {
  text-align: center;
  font-family: Geneva;
}

h1 {
  font-family: Brush Script MT;
  font-size: 50px;
  line-height: 0px;
}

h2 {
  color: #381f33;
}

.header {
  background-color: #efe9f5;
  color: 	#381f33;
  padding-top: 4px;
  padding-bottom: 2px;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.create {
  padding: 20px;
  border: solid;
  border-color: #f7f7f7;
  border-radius: 4px;
  border-width: 2px;
  margin-right: 20px;
  text-align: left;
  box-shadow: 5px 5px 10px 2px #f7f7f7;  
  width: 27%;
}

.myImage {
  object-fit: cover;
  overflow: hidden;
  height: 300px;
}

.products {
  padding: 20px;
  text-align: left;
  border: solid;
  border-color: #f7f7f7;
  border-radius: 4px;
  border-width: 2px;
  box-shadow: 5px 5px 10px 2px #f7f7f7;  
  width: 27%;
}

.cart {
  padding: 20px;
  text-align: left;
  border: solid;
  border-color: #f7f7f7;
  border-radius: 4px;
  border-width: 2px;
  margin-left: 20px;
  box-shadow: 5px 5px 10px 2px #f7f7f7;  
  width: 27%;
}

.githubRepo {
  background-color: #efe9f5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
